---
layout: layouts/base.njk
---

<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li>last update: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
</ul>

<article>
{{ content | safe }}
</article>
