---
layout: layouts/base.njk
---

{%- css %}
a[href]{font-family: var(--monospace);}
{%- endcss %}

<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li>last update: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
</ul>

<article>
{{ content | safe }}
</article>
