---
layout: layouts/base.njk
---
{%- css %}    

a[href]{font-family: var(--monospace);}


#neossg a[href] {
    text-decoration: none;
}

.textart {
    line-height: 1!important;
    text-wrap: nowrap;
     style="font-family: var(--monospace);"
}
{% endcss %}

{{ content | safe }}
