---
layout: layouts/base.njk
---
{%- css %}    

#neossg a[href] {
    font-variant: small-caps;
    font-family: var(--sans-serif);
    text-decoration: none;
}

.textart {
    line-height: 1!important;
    text-wrap: nowrap;
     style="font-family: var(--monospace);"
}
{% endcss %}

{{ content | safe }}
