---
layout: layouts/base.njk
---
{%- css %}    

a[href]{font-family: var(--monospace);}


#neossg a[href] {
    text-decoration: none;
}


#neossg .webring-prev:before,
#neossg .webring-next:before {
    content: "(";
  }
  
  #neossg .webring-prev:after,
  #neossg .webring-next:after {
      content: ")";
    }

.textart {
    line-height: 1!important;
    text-wrap: nowrap;
     style="font-family: var(--monospace);"
}
{% endcss %}

{{ content | safe }}
